@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

body {
  padding: 0 !important;
  background: none !important;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.product-whole-container {
  background: linear-gradient(180deg, #231c16 0%, rgba(35 28 22 / 75%));
}

.product-container {
  width: 1190px;
  margin: 0 auto;
  border-width: 1.75rem 2.25rem 1.25rem;
  border-color: #4a443f;
  border-style: solid;
  background-color: #38332e;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.confirmation-modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  max-width: 1224px;
  opacity: 1;
  background: rgb(0 0 0 / 32%);
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}

.favorite-icon {
  display: flex;
  justify-content: flex-end;
  padding: 1.25rem;
  color: white;
  font-size: 1.25rem;
}

.favorite-icon button {
  background-color: #38332e;
  border: #38332e;
}

.favorite-icon img {
  padding-left: 0.25rem;
}

.favorite-icon span {
  padding-top: 0.35rem;
}

.product-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
}

.product-image img {
  width: 75%;
  border-radius: 16rem;
  margin: 0 auto;
  display: inline-block;
}

.product-image {
  display: flex;
  text-align: center;
  align-items: center;
  width: 50%;
}

.product-name {
  font-size: 2.75rem;
}

.product-information {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  padding-right: 10%;
  color: white;
}

.product-title {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 0;
}

.product-info {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: left;
  opacity: 0.7;
}

.product-size {
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 1.75rem;
}

.counter-cart-button {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  display: flex;
}

.counter-button {
  margin-right: 0.5rem;
  width: 20%;
}

.add-to-cart-button {
  width: 15rem;
  height: 2.4125rem;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1225px) {
  .product-container {
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .counter-cart-button {
    margin-top: 2.5rem;
  }

  .favorite-icon {
    padding: 0.75rem;
    font-size: 1rem;
  }

  .product-name {
    font-size: 2.25rem;
  }

  .product-image img {
    width: 90%;
  }

  .product-info {
    font-size: 1.25rem;
  }

  .product-size {
    font-size: 1.45rem;
  }

  .counter-button {
    margin-right: 0.5rem;
    flex: 1;
    width: 10%;
  }

  .add-to-cart-button {
    flex: 2;
  }
}

@media screen and (max-width: 857px) {
  .product-container {
    width: 375px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .favorite-icon {
    display: flex;
    justify-content: center;
  }

  .cart-button {
    margin: 1rem 0 2rem;
  }

  .left-container {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  .product-size {
    font-size: 1rem;
  }

  .product-information {
    margin-top: 0;
    text-align: center;
    align-items: center;
  }

  .add-to-cart-button {
    width: 100%;
  }

  .counter-button {
    margin-bottom: 1rem;
    margin-right: 40%;
  }

  .counter-cart-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-size-price {
    font-size: 1rem;
  }

  .product-image,
  .product-information {
    width: 100%;
    flex-wrap: wrap;
  }

  .product-title {
    display: flex;
    justify-content: center;
  }

  .product-info {
    font-size: 1rem;
    text-align: center;
    padding: 2rem 2rem 0;
  }

  .product-name {
    font-size: 1.25rem;
  }

  .product-image img {
    width: 50%;
  }
}

@media screen and (max-width: 455px) {
  .product-container {
    width: 90%;
    margin: 0 auto;
  }

  .product-info {
    padding-right: 2rem;
  }

  .product-size {
    font-size: 0.75rem;
  }
}
