@import url('https://fonts.googleapis.com/css?family=Montserrat');

.storybook-button {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: fit-content;
  border: 1px solid #fff;
}

.button-icon {
  width: 1.25rem;
  height: 1.25rem;
  padding-left: 0.625rem;
}

.storybook-button-primary {
  background: #53742a;
  border: 1px solid #ffffffd3;
  color: #fff;
  font-style: normal;
}

.storybook-button-secondary {
  background: rgb(35 28 22 / 90%);
  border: 1px solid #fff;
  color: #fff;
  line-height: 1.125rem;
  text-align: center;
  font-size: 0.938rem;
}

.storybook-button-small {
  width: 12.058;
  height: 2.313rem;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.125rem;
}

.storybook-button-medium {
  width: 13.313rem;
  height: 2.313rem;
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 1.125rem;
}

.storybook-button-large {
  width: 21.563rem;
  height: 4.125rem;
  font-weight: 500;
  font-size: 1.875rem;
}
