.loginpage-container,
.registerpage-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem; */
  background-image: url('../../../public/assets/images/hero_image.png');
  mix-blend-mode: normal;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem 0;
  background-position: top;
  text-align: center;
  color: rgb(255 255 255);
  min-height: 100vh;
}
