@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.product-page-main-container {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.show-3 {
  overflow: hidden;
}

.product-info-main-page {
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

.product-category {
  font-size: 1.563rem;
}

.product-title {
  font-size: 4.375rem;
  font-weight: 400;
  text-align: center !important;
  padding-top: 2rem;
}

.display {
  position: relative;
  z-index: 1;
}

.product-whole-container {
  background: none !important;
  padding-bottom: 3rem;
}

.carousel-container {
  padding-bottom: 3rem;
}

.product-whole-container .product-container {
  border-bottom-width: 23px !important;
  border-top-width: 23px;
}

.title-similar-products {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  margin-bottom: 1rem;
}

.add-to-cart-button {
  color: #fff;
  border-color: #fff;
  border: 1px solid;
}

.add-to-cart-button-variant {
  color: #fff;
  border-color: #fff;
  border: 1px solid;
}

.product-card-link {
  text-decoration: none;
}

.counter {
  background: transparent;
}

@media (hover: none) and (pointer: coarse) {
  .title-similar-products {
    display: none;
  }
}

@media (max-width: 1700px) and (min-width: 1225px) {
  .product-card-container .counter {
    width: 4.938rem !important;
    background-color: transparent !important;
  }

  .carousel .counter {
    width: 2.5rem !important;
    background-color: transparent !important;
  }
}

@media (max-width: 1225px) and (min-width: 1024px) {
  .carousel .add-to-cart-button-variant {
    font-size: 0.4rem !important;
    height: 2rem !important;
  }

  .carousel .counter {
    height: 2rem !important;
    width: 2rem !important;
  }
}

@media (max-width: 1204px) and (min-width: 935px) {
  .title-similar-products {
    margin-bottom: 1rem;
  }

  .carousel .add-to-cart-button-variant {
    font-size: 0;
    height: 1.5rem !important;
    width: 1rem !important;
  }

  .carousel .product-name-variant {
    font-size: 0.75rem !important;
  }

  .product-size-variant {
    font-size: 0.75rem !important;
  }

  .carousel .counter {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
}

@media screen and (max-width: 935px) {
  .title-similar-products {
    display: none !important;
  }

  .carousel .add-to-cart-button-variant {
    font-size: 0 !important;
    height: 1.3rem;
  }

  .carousel .product-name-variant {
    font-size: 0.75rem !important;
  }

  .product-size-variant {
    font-size: 0.75rem !important;
  }

  .carousel .counter {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
}
